title = "Film"
url = "/film/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Cong\Movie\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{ record.name }}</h2>
    <p>{{ record.year}}</p>

    <img src="{{ record.poster.thumb(200, auto)}}" alt="">
    <h2>Description</h2>
    {{ record.description | raw}}
    <h2>Movie Gallery</h2>
    <ul class="gallery clearfix">
        {% for image in record.gallery %}
        <li><a href="{{image.path}}"><img src="{{ image.thumb(80, 80, {'mode':'crop'}) }}" alt=""></a></li>
        {% endfor%}
    </ul>

    <h3>Genres</h3>

    {% for genre in record.genres %}
        <a href="/genres/{{ genre.slug}}">{{ genre.title}} </a><br>
    {% endfor %}
{% else %}
    {{ notFoundMessage }}
{% endif %}